<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <!-- BEGIN api request logging settings -->
  <add key="apirequest.logto" value="eventlog"/>
  <!-- valid values are: { none, datastore, eventlog } -->
  <add key="logto.connectionkey" value="dp.auth"/>

  <!-- valide values are: { all, sparse, none }-->
  <add key="apirequest.loggingmode" value="all"/>
  <!-- END api request logging settings -->
  <add key="message-provider.folder" value="messageprovider"/>

  <add key="api.httpcodes.whitelist" value="200,201,202,400,401,404,409"/>
</appSettings>