<connectionStrings>
  <add name="api.blackrocket" connectionString="Data Source=(local);Initial Catalog=xfLog;Integrated Security=True" providerName="System.Data.SqlClient" />
  <!--
  <add name="api.blackrocket" connectionString="Data Source=hnsqldev02;Initial Catalog=xfLog;Integrated Security=True" providerName="System.Data.SqlClient" />
  -->
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-BlackRocket-20170214104636.mdf;Initial Catalog=aspnet-BlackRocket-20170214104636;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="api.redis" connectionString="localhost" providerName="StackExchange.Redis"/>
</connectionStrings>